h1 {
  color:blue;
}
div.color-info {
  border-style: solid;
  border-weight:3px;
}
#about_blue{
  background-color: #6495ED;
}
#about_yellow {
  background-color: #FFEBCD;
}
#about_blue ul li {
  color: #F00;
}
#about_yellow ul li {
  color: yellow;
}
.important {
  font-size: 16px;
  font-weight: bold;
}
.nav {
  color: white;
  background:red;
}
